# Database configuration
DATABASE_URL=postgresql://username:password@localhost:5432/the_last_of_guss
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=username
DB_PASSWORD=password
DB_DATABASE=the_last_of_guss

# Server configuration
PORT=3000
