# Database configuration
DB_URI='postgresql://postgres:postgres@localhost:6543/postgres'

# Server configuration
PORT=3000

# JWT configuration
JWT_SECRET=your-secret-key

# Game configuration
COOLDOWN_DURATION=60
ROUND_DURATION=300
